.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

#center-logo {
  height: 40vmin;
  pointer-events: none;
}

#center-logo-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#worries-contents {
  position: absolute;
  top: 60%;
  left: 10%;
  height: 30vh;
  width: 20vw;
}

#worries {
  height: 100%;
  position: relative;
}

#user-contents {
  position: absolute;
  width: 7vw;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#icon-user-set {
  height: 60%;
  position: relative;
}

#icon-user {
  height: 100%;
}

#icon-loading {
  height: 30%;
  position: absolute;
  top: 0;
  left: 90%;
  opacity: 0.3;
}

#indexes-contents {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  height: 30vh;
  width: 20vw;
}

#indexes {
  height: 100%;
  position: relative;
}

#icon-index-column {
  height: 30%;
  position: absolute;
  top: 0;
  left: 0;
}

#icon-index-line {
  height: 30%;
  position: absolute;
  top: 20%;
  left: 30%;
}

#icon-index-pie {
  height: 30%;
  position: absolute;
  top: 10%;
  left: 60%;
}

#icon-index-ai {
  position: absolute;
  top: 15%;
  left: 90%;
  font-size: 3rem;
}

#innovation-contents {
  position: absolute;
  top: 60%;
  right: 10%;
  height: 30vh;
  width: 20vw;
}

#innovation {
  height: 100%;
  position: relative;
}

#decider-contents {
  position: absolute;
  width: 7vw;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#icon-decider-set {
  height: 60%;
  position: relative;
}

#icon-decider {
  height: 100%;
}

#icon-light {
  height: 30%;
  position: absolute;
  top: 0;
  left: 90%;
}

#icon-trash {
  position: absolute;
  top: 21vw;
  left: 6vw;
  opacity: 0.5;
}

#move-ball {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #dafa23;
  border-radius: 50%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  #center-logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 960px) {
  #worries {
    bottom: 40vw;
    left: 10vw;
  }

  .indexes {
    top: 11vw;
    left: 45vw;
  }

  .innovation {
    bottom: 40vw;
    right: 10vw;
  }

  #icon-loading {
    top: 13vw;
    left: 12vw;
  }

  .icon-user {
    top: 14vw;
    left: 1vw;
  }

  .icon-light {
    top: 13vw;
    left: 12vw;
  }

  .icon-decider {
    top: 14vw;
    left: 1vw;
  }

  .icon-index-pie {
    top: 16vw;
    left: 11.3vw;
  }

  .icon-index-line {
    top: 19vw;
    left: 0;
  }

  .icon-index-column {
    top: 13vw;
    left: -13vw;
  }

  .icon-index-ai {
    top: 19vw;
    left: 26vw;
    font-size: 3rem;
  }
}

@media (max-width: 430px) {
  #worries {
    bottom: 70vw;
    left: 5vw;
  }

  .indexes {
    top: 30vw;
    left: 41.5vw;
  }

  .innovation {
    bottom: 70vw;
    right: 5vw;
  }

  #icon-loading {
    top: 22vw;
    left: 18vw;
  }

  .icon-user {
    top: 25vw;
    left: 1vw;
  }

  .icon-light {
    top: 22vw;
    left: 18vw;
  }

  .icon-decider {
    top: 25vw;
    left: 1vw;
  }

  .icon-index-pie {
    top: 20vw;
    left: 17.5vw;
  }

  .icon-index-line {
    top: 27vw;
    left: 0;
  }

  .icon-index-column {
    top: 15vw;
    left: -20vw;
  }

  .icon-index-ai {
    top: 30vw;
    left: 38vw;
    font-size: 2rem;
  }
}
