.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.icon-circle {
  height: 5%;
  position: absolute;
  top: 34vw;
  left: 26vw;
  opacity: 0.3;
}

.icon-user {
  height: 15%;
  position: absolute;
  top: 35vw;
  left: 20vw;
}

.icon-light {
  height: 5%;
  position: absolute;
  top: 34vw;
  right: 19vw;
}

.icon-decider {
  height: 15%;
  position: absolute;
  top: 35vw;
  right: 20vw;
}

.icon-index-column {
  height: 8%;
  position: absolute;
  top: 3vw;
  left: 40vw;
}

.icon-index-line {
  height: 8%;
  position: absolute;
  top: 5vw;
  left: 46vw;
}

.icon-index-pie {
  height: 8%;
  position: absolute;
  top: 4vw;
  left: 51vw;
}

.icon-index-ai {
  height: 8%;
  position: absolute;
  top: 6vw;
  left: 60vw;
  font-size: 3rem;
}

.icon-trash {
  position: absolute;
  top: 21vw;
  left: 6vw;
  opacity: 0.5;
}

.worries {
  position: absolute;
  bottom: 15vw;
  left: 17vw;
}

.indexes {
  position: absolute;
  top: 4vw;
  left: 29.5vw;
}

.innovation {
  position: absolute;
  bottom: 15vw;
  right: 21vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 960px) {
  .worries {
    bottom: 40vw;
    left: 10vw;
  }

  .indexes {
    top: 11vw;
    left: 45vw;
  }

  .innovation {
    bottom: 40vw;
    right: 10vw;
  }

  .icon-circle {
    top: 13vw;
    left: 12vw;
  }

  .icon-user {
    top: 14vw;
    left: 1vw;
  }

  .icon-light {
    top: 13vw;
    left: 12vw;
  }

  .icon-decider {
    top: 14vw;
    left: 1vw;
  }

  .icon-index-pie {
    top: 16vw;
    left: 11.3vw;
  }

  .icon-index-line {
    top: 19vw;
    left: 0;
  }

  .icon-index-column {
    top: 13vw;
    left: -13vw;
  }

  .icon-index-ai {
    top: 19vw;
    left: 26vw;
    font-size: 3rem;
  }
}

@media (max-width: 430px) {
  .worries {
    bottom: 70vw;
    left: 5vw;
  }

  .indexes {
    top: 30vw;
    left: 41.5vw;
  }

  .innovation {
    bottom: 70vw;
    right: 5vw;
  }

  .icon-circle {
    top: 22vw;
    left: 18vw;
  }

  .icon-user {
    top: 25vw;
    left: 1vw;
  }

  .icon-light {
    top: 22vw;
    left: 18vw;
  }

  .icon-decider {
    top: 25vw;
    left: 1vw;
  }

  .icon-index-pie {
    top: 20vw;
    left: 17.5vw;
  }

  .icon-index-line {
    top: 27vw;
    left: 0;
  }

  .icon-index-column {
    top: 15vw;
    left: -20vw;
  }

  .icon-index-ai {
    top: 30vw;
    left: 38vw;
    font-size: 2rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}