@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Kiwi+Maru&family=M+PLUS+2:wght@100&family=Mochiy+Pop+One&family=Potta+One&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Kiwi+Maru&family=M+PLUS+2:wght@100&family=Mochiy+Pop+One&family=Monomaniac+One&family=Potta+One&family=Train+One&display=swap');

.App {
  font-family: "Kiwi Maru", serif;
  /* font-family: "DotGothic16", sans-serif; */
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  white-space: pre-line;
}

#center-logo {
  height: 40vmin;
  pointer-events: none;
}

#center-logo-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#worries-contents {
  position: absolute;
  top: 55%;
  left: 1%;
  height: 30vh;
  width: 40vw;
}

#worries {
  height: 100%;
  position: relative;
}

#worry-set {
  display: flex;
  gap: 1rem;
}

#worry {
  padding-right: 1rem;
}

#user-contents {
  position: absolute;
  width: 7vw;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#icon-user-set {
  height: 60%;
  width: 80%;
  position: relative;
}

#icon-user {
  height: 100%;
  width: 100%;
}

#icon-loading {
  height: 30%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 90%;
  opacity: 0.3;
}

#indexes-contents {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  height: 16vh;
  width: 20vw;
}

#indexes {
  height: 100%;
  position: relative;
}

#icon-index-column {
  width: 30%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

#icon-index-line {
  width: 30%;
  height: 50%;
  position: absolute;
  top: 30%;
  left: 30%;
}

#icon-index-pie {
  width: 30%;
  height: 50%;
  position: absolute;
  top: 10%;
  left: 60%;
}

#icon-index-ai {
  position: absolute;
  top: 15%;
  left: 90%;
  font-size: 2rem;
}

#index-result {
  position: absolute;
  top: 10%;
  left: 120%;
  padding: 1rem;
  background-color: #4d5566;
  border-radius: 2rem;
  display: none;
  font-size: 1rem;
  width: 20vw;
  border: 1px solid;
  animation:
    /* float 2s ease-in-out infinite, */
    fade-in 2s ease-in-out forwards,
    rainbow-border 3s linear infinite;
}


#innovation-contents {
  position: absolute;
  top: 55%;
  right: 1%;
  height: 30vh;
  width: 40vw;
}

#innovation {
  height: 100%;
  position: relative;
}

#decider-contents {
  position: absolute;
  width: 7vw;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#icon-decider-set {
  height: 60%;
  width: 80%;
  position: relative;
}

#icon-decider {
  height: 100%;
  width: 100%;
}

#icon-light {
  height: 30%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 90%;
}

#innovation-idea {
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 1rem;
  background-color: #4d5566;
  border-radius: 2rem;
  display: none;
  font-size: 1rem;
  border: 1px solid;
  animation:
    /* float 2s ease-in-out infinite, */
    fade-in 2s ease-in-out forwards,
    rainbow-border 3s linear infinite;
}

#icon-trash {
  position: absolute;
  top: 21vw;
  left: 6vw;
  opacity: 0.5;
}

#move-ball {
  position: absolute;
  width: 3rem;
  height: 3rem;
  /* background-color: #6a707c; */
  border-radius: 50%;
  animation: rainbow 2s linear infinite;
}

#move-ball-result-to-innovation {
  position: absolute;
  width: 3rem;
  height: 3rem;
  /* background-color: #6a707c; */
  border-radius: 50%;
  animation: rainbow 2s linear infinite;
}

#secret-button {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 10vh;
  width: 10vw;
  cursor: pointer;
  border: none;
  opacity: 0;
}

#secret-config {
  text-align: left;
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 30vh;
  width: 35vw;
  background-color: #4d5566;
  border-radius: 1rem;
}

#secret-contents {
  /* display: flex; */
  margin-bottom: 1rem;
  font-size: 1rem;
}

#close-secret-setting-icon {
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  font-size: 2rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes float {

  /* 0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-10px) scale(1.1);
  }

  100% {
    transform: translateY(0) scale(1);
  } */
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rainbow {
  0% {
    background-color: red;
  }

  14% {
    background-color: orange;
  }

  28% {
    background-color: yellow;
  }

  42% {
    background-color: green;
  }

  57% {
    background-color: blue;
  }

  71% {
    background-color: indigo;
  }

  85% {
    background-color: violet;
  }

  100% {
    background-color: red;
  }
}

@keyframes rainbow-border {
  0% {
    border-color: red;
  }

  14% {
    border-color: orange;
  }

  28% {
    border-color: yellow;
  }

  42% {
    border-color: green;
  }

  57% {
    border-color: blue;
  }

  71% {
    border-color: indigo;
  }

  85% {
    border-color: violet;
  }

  100% {
    border-color: red;
  }
}

@media (prefers-reduced-motion: no-preference) {
  #center-logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 960px) {
  #worry-set {
    display: block;
  }

  #worries-contents {
    top: 30%;
    width: 35vw;
    height: 70vh;
  }

  #user-contents {
    top: 91%;
    width: 15vw;
  }

  #innovation-contents {
    top: 53%;
    width: 40vw;
    height: 45vh;
    font-size: 0.8rem;
  }

  #innovation-idea {
    font-size: 0.8rem;
  }

  #indexes-contents {
    width: 40vw;
    height: 10vh;
    top: 5%;
  }

  #index-result {
    width: 70%;
    top: 70%;
    left: 80%;
    font-size: 0.8rem;
  }

  #icon-index-column {
    width: 20%;
    height: 40%;
    top: 0;
    left: 0;
  }

  #icon-index-line {
    width: 20%;
    height: 40%;
    top: 20%;
    left: 30%;
  }

  #icon-index-pie {
    width: 20%;
    height: 40%;
    top: 10%;
    left: 55%;
  }

  #icon-index-ai {
    left: 80%;
    font-size: 1rem;
  }

  #decider-contents {
    width: 15vw;
  }

  #icon-trash {
    top: 45vw;
  }

  #secret-contents {
    font-size: 0.8rem;
  }

  #secret-config {
    height: 25vh;
    width: 95vw;
  }
}

/* @media (max-width: 430px) {
  #worries {
    bottom: 70vw;
    left: 5vw;
  }

  .indexes {
    top: 30vw;
    left: 41.5vw;
  }

  .innovation {
    bottom: 70vw;
    right: 5vw;
  }

  #icon-loading {
    top: 22vw;
    left: 18vw;
  }

  .icon-user {
    top: 25vw;
    left: 1vw;
  }

  .icon-light {
    top: 22vw;
    left: 18vw;
  }

  .icon-decider {
    top: 25vw;
    left: 1vw;
  }

  .icon-index-pie {
    top: 20vw;
    left: 17.5vw;
  }

  .icon-index-line {
    top: 27vw;
    left: 0;
  }

  .icon-index-column {
    top: 15vw;
    left: -20vw;
  }

  .icon-index-ai {
    top: 30vw;
    left: 38vw;
    font-size: 2rem;
  }
} */