.floating-bubble {
  position: relative;
  padding: 1rem;
  background-color: #4d5566;
  border-radius: 2rem;
  /* animation: float 2s ease-in-out infinite; */
}

.floating-bubble::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #4d5566;
  left: 3rem;
  bottom: -1.2rem;
  width: 1rem;
  height: 1rem;
}

.floating-bubble::after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #4d5566;
  left: 4rem;
  bottom: -1.7rem;
  width: 0.5rem;
  height: 0.5rem;
}

/* アニメーションの設定 */
@keyframes float {
  0% {
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-10px) scale(1.1);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}
